<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bye - Symfony</title>
  </head>
  <body>
    <h1>Aurevoir {{ nom }} :)</h1>
    <hr>

    <p>
      Passez une bonne soirée !
    </p>
  </body>
</html>
