<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Advert - Symfony</title>
  </head>
  <body>
    <h1>Bonjour {{ nom }} !</h1>
    <hr>

    <p>
      Ceci est ma première page créée grâce à OpenClassroom et twig.<br>
      Twig est un moteur de template utilisé par Symfony afin de remplacer <br>
      le code php laborieux et compliqué à lire.<br>
      Je suis donc fier de vous présenter ma première page .twig !
    </p>
  </body>
</html>
